
/* 
	Dla calej strony wartosci margin i padding wynosza 0, sa rowniez oznaczone jako !important co nadpisuje wszystkie inne style co spowoduje, ze wartosci sie nie zmienia
*/

html, body {
	margin: 0 !important;
	padding: 0 !important;
}

/*Stworzenie siatki dla naszej strony*/
#main {
	display: grid;
	grid-template-columns: 25vw auto 25vw;
	grid-template-rows: 15vh 10vh 65vh 10vh;
}

#logo {
	background: green;
	grid-row: 1;
	grid-column: 1;
}

#title {
	background: yellow;
	grid-row: 1;
	grid-column: 2;
}

#login {
	background: orange;
	grid-row: 1;
	grid-column: 3;
}

#nav {
	background: red;
	grid-row: 2;
	grid-column: 1 / 4;
}

#submenu {
	background: blue;
	grid-row: 3;
	grid-column: 1;
}

#content {
	background: gray;
	grid-row: 3;
	grid-column: 2;
	display: block;
	overflow-y: auto;
	grid-template-columns: repeat(3, 1fr);
}
#col1 {
	grid-column: 1;
}

#col2 {
	grid-column: 2;
}

#foot {
	background: lightgray;
	grid-row: 4;
	grid-column: 1 / 4;
}

.button {
	position: relative;
	z-index: 1;
	
	text-align: center;
	border: solid yellow 1px;
}

.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: gray;
}

.button:hover {
	cursor: pointer;
}


.button:hover::before{
	opacity: 0.6;
}

figure.galeria img {
	width: 100%;
	height: auto;
}
