<!--
	Element <figure> jest niezalezna trescia, zawartosc tagu jest powiazana z glownym przeplywem, jego polozenie nie jest zalezne od glownego przeplywu wiec usuniecie go nie powino wplyawc na dokument. 
	Elementy <figcaption> sluzy do dodania podpisu do elementu <figure>.
-->

<figure class="galeria">
	<img alt="TU POWINIEN BYĆ OBRAZEK" src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/cee-nordics/pl/support/support-v3/mobileservices/themes/themes-2.png"/>
	<figcaption>To jest jakiś interesujący obrazek...</figcaption>
</figure>
<figure class="galeria">
	<img alt="" src="./img/img2.jpg"/>
	<figcaption>To jest jakiś interesujący obrazek...</figcaption>
</figure>
