<!--
	Na tej podstronie widzimy stworzony formularz, element ktory umozliwia nam stworzenie formularza jest znacznik <form>. Element ten sluzy do wprowadzania danych przez uzytkownika.
	Omawiany element <form> mozna okrelic jako pojemnik dla roznych typow elementow wejsciowych, kilka przykladow: pole tekstowe, pole wyboru, pole przesylania itd. 
	W znaczniku mamy jeszcze podane metode przesylu danych "POST" oraz mamy atrybut ACTION ktory okresla gdzie wyslac formularz danych. 

	Nastepne widzimy nadany styl do elementu <input> oczywiscie to rowniez owmoie ale najpierw chcialbym opisac co to jest element <input> . Tag <input> okresla pole tekstowe, w ktorym uzytkownik moze wpisac dane. 
	Element ten moze byc wyswietlany na kilka sposobow zalezy to tylko od typu atrybutu, kilka przykladow: checkbox, button, radio itd. W kodzie widocznym ponizej widzimy kilka elemetow input z roznymi typami atrybutu. 
		Tutaj opisze wszystkie typy widoczne w ponizszym kodzie: 

		radio- ten typ tworzy przycisk radiowy, ktore zwykle prezentowane sa w grupach radiowych. Jednoczesnie wybrac mozna tylko jeden przecisk z calej grupy opcji. 
		email- definiuje pole adresu email, wartosc wpisana w pole jest automatycznie sprawdzana, aby upewnic sie, ze wpisany email jest prawidlowy.
		text- pole text zostalo juz opisane powyzej w opisie przectawionego kodu. 

	Widzimy ze jednemu z input nadano stylw, widzimy, ze styl zostal przypisany input o name="name" i kolor jego ramki zostal zmieniony na kolor pomaranczowy.

	W naszym formularzy mozemy zauwazyc, ze w polowie <form> jest napisany element <fieldset>. Znacznik ten uzywamy do grupowania elementow w formularzu. 
	Element <legend> przypisuje naglowek do elementu <fieldset>. 
	
	Ostatnim elementem, ktory nie zostal jeszcze opisany jest element <button>. Tag <button> definiuje klikalny przycisk. 
	W srodku takiego elementu mozemy umieszczac tekst i tagi takie jak <i>,<b>,<strong>,<br>,<img>. Nie jest to mozliwe w przypadku przycisku utworzonego za pomca <imput>.
-->


<!--<form method="post" action="./php/main.php">-->
<div id="form">
	<style>
		input[name="name"] {
			border-color: orange;
		}
	</style>
	<p><input type="text" name="name" placeholder="Podaj swoje imię"/></p>
	<p><input type="text" name="lastname" placeholder="Podaj swoje nazwisko"/></p>
	<p><input type="email" name="email" placeholder="Podaj swój email"/></p>
	<p><textarea name="content" placeholder="Wpisz treść"></textarea></p>
	<fieldset>
		<legend>Twoja płeć</legend>
		<p><input type="radio" name="sex" value="k"/><span>Kobieta</span></p>
		<p><input type="radio" name="sex" value="m"/><span>Mężczyzna</span></p>
		<p><input type="radio" name="sex" value="n" checked="checked"/><span>Nieokreślona</span></p>
	</fieldset>
	<button>Wyślij zapytanie</button>
</div>
<div id="output">

</div>

<!--</form>-->