<!--Znacznik <h2> jest naglowkiem, zeby wskrocie przectawic nam lub jeszcze bardziej zachecic do przeczytania glownej tresci-->
 <h2>Kilka słów o nas...</h2>
    <!--Znaczniki <p> sa paragrafami, w tym znaczniku imieszczamy tresc pisemna naszej strony. Na tej podstronie znajda sie zgodnie z naglowkiem "kilka slow o nas" -->
<p>Tutaj jest pierwszy akapit o naszych osiągnięciach</p>
<p>Tutaj jest kolejny akapit o naszej historii</p>
<p>Tutaj już nie wiem co napisać...</p>